{% load static %}

<link rel="stylesheet" href="{% static 'css/register_style.css' %}">
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

<div class="form_wrapper">
    <div class="form_container">
      <div class="title_container">
        <h2>Registro CNVTE IV</h2>
      </div>
      <div class="row clearfix">
        <div class="">
          <form method="POST">
            {% csrf_token %}
            <div class="input_field"> <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
              <input type="email" name="email" placeholder="Email" required />
            </div>
            <div class="input_field"> <span><i aria-hidden="true" class="fa fa-lock"></i></span>
              <input type="password" name="password" placeholder="Contraseña" required />
            </div>
            <div class="input_field"> <span><i aria-hidden="true" class="fa fa-lock"></i></span>
              <input type="password" name="repeat_password" placeholder="Repita la contraseña" required />
            </div>
            <div class="input_field"> <span><i aria-hidden="true" class="fa fa-lock"></i></span>
              <input type="text" name="team_name" placeholder="Nombre del equipo" required />
            </div>
            <div class="input_field"> <span><i aria-hidden="true" class="fa fa-lock"></i></span>
              <input type="text" name="access_code" placeholder="Codigo de lider"/>
            </div>
            <div class="row clearfix">
              <div class="col_half">
                <div class="input_field"> <span><i aria-hidden="true" class="fa fa-user"></i></span>
                  <input type="text" name="username" placeholder="Nombres" />
                </div>
              </div>
              <div class="col_half">
                <div class="input_field"> <span><i aria-hidden="true" class="fa fa-user"></i></span>
                  <input type="text" name="apellidos" placeholder="Apellidos" required />
                </div>
              </div>
            </div>
                  <!-- <div class="input_field radio_option">
                <input type="radio" name="radiogroup1" id="rd1">
                <label for="rd1">Male</label>
                <input type="radio" name="radiogroup1" id="rd2">
                <label for="rd2">Female</label>
                </div> -->
                <div class="input_field select_option">
                  <select name = 'universidades'>
                    <option>Seleccione una universidad</option>
                    <option>Universidad Militar Nueva Granada</option>
                    <option>Universidad De Los Andes</option>
                    <option>Universidad Autonoma De Occidente</option>
                    <option>Universidad Nacional (Bogotá)</option>
                    <option>Universidad Pontificia Bolivariana</option>
                    <option>Institucion Universitaria Pascual Bravo</option>
                    <option>EAFIT</option>
                    <option>ITP</option>
                    <option>Escuela de ingenieros</option>
                    <option>UDEA</option>
                  </select>
                  <div class="select_arrow"></div>
                </div>
              <div class="input_field checkbox_option">
                  <input type="checkbox" id="cb1">
                  <label for="cb1">He leido el reglamento de la competencia</label>
              </div>

              {% if code == 'False' %}
                <script>
                    window.alert('Su universidad aun no ha registrado un lider, por favor ingrese codigo de lider e intentelo de nuevo.')
                </script>
              {% elif code == 'True' %}
                <script>
                  window.alert('SU universidad ya tiene un lider, por favor haga el registro sin ingresar el codigo de lider.')
                </script>
              {% endif %}
              <!-- <div class="input_field checkbox_option">
                  <input type="checkbox" id="cb2">
                  <label for="cb2">I want to receive the newsletter</label>
              </div> -->
            <input class="button" type="submit" value="Registrarse" />
          </form>
        </div>
      </div>
    </div>
  </div>
  